In [8]:
import pandas as pd
import numpy as np

In [43]:
df = pd.read_csv('HABV_91_1_v1.csv', sep=';', index_col='Id')
# df

In [40]:
def lebensdaten(daten):
    try:
        daten_split = daten.split('-')
    except:
        return [float("NAN"),float("NAN")]
    if len(daten_split) == 2:
        if len(daten_split[0]) == 0 and len(daten_split[1]) == 10:
            return [float("NAN"),daten_split[1]]
        elif len(daten_split[0]) == 10 and len(daten_split[1]) == 0:
            return [daten_split[0], float("NAN")]
        elif len(daten_split[0]) == 10 and len(daten_split[1]) == 10:
            return [daten_split[0], daten_split[1]]
        else: return [float("NAN"),float("NAN")]
    else: return [float("NAN"),float("NAN")]

In [44]:
# df["geburt", "tod"] = df.Lebensdaten.apply(lebensdaten, result_type ='expand', )
# df['p1'], df['p2'], df['p3'], df['p4'], df['p5'], df['p6'] = zip(*df['num'].map(powers))
df["geburt"], df["tod"] = zip(*df.Lebensdaten.map(lebensdaten))

In [47]:
# df[['Lebensdaten','geburt','tod']].sample(50)
df.to_csv('HABV_91_1_v2.csv')

In [10]:
def firmenart(row):
    if str(row.Sortiment).strip() == 'x':
        firmenart = 'Sortiment'
    elif str(row.Sortiment).strip() == 'zwibu':
        firmenart = 'Zwischenbuchhandel'
    elif str(row.Sortiment).strip() == 'vv' or row.Verlag == 'vv':
        firmenart = 'Verlagsvertreter'
    elif str(row.Verlag).strip() == 'x':
        firmenart = 'Verlag'
    else:
        firmenart = None
    return firmenart

df['firmenart'] = df[['Sortiment', 'Verlag']].apply(firmenart, axis=1)
df

,Name,Titel,Vorname,Nachname,Vorname_2,Ort,Sortiment,Verlag,Zusaetze,Lebensdaten,Laufzeit,lz_beginn,lz_ende,Geschlecht,geburt,tod,matches,idns,firmenart
Id,,,,,,,,,,,,,,,,,,,
1,"Abts-Kröger, Christel",NaN,Christel,Abts-Kröger,NaN,Düsseldorf,x,NaN,Buchhandlung Emil Bierbaum,08.01.1913-,1955-1966,1955.0,1966,w,08.01.1913,NaN,"[{'idn': '1204494460', 'datum_match': True, 'b...",['1204494460'],Sortiment
2,"Achterberg, Georg",NaN,Georg,Achterberg,NaN,Berlin,NaN,x,Eva Achterberg,NaN,1955-1956,1955.0,1956,m,NaN,NaN,[],[],Verlag
3,"Ackermann, Anna",NaN,Anna,Ackermann,NaN,Stuttgart,NaN,x,NaN,NaN,1955-1956,1955.0,1956,w,NaN,NaN,"[{'idn': '1084021951', 'datum_match': False, '...",[],Verlag
4,"Ackermann, Eduard",NaN,Eduard,Ackermann,NaN,Lübeck,x,NaN,NaN,NaN,1955-1965,1955.0,1965,m,NaN,NaN,"[{'idn': '119178273', 'datum_match': False, 'b...",[],Sortiment
5,"Ackermann, Elisabeth",NaN,Elisabeth,Ackermann,NaN,Gailingen,x,NaN,Gailinger Buchhandlung und Verlag Frau Mariann...,EA 18.12.1911-,1964-1968,1964.0,1968,w,18.12.1911,NaN,"[{'idn': '1061348903', 'datum_match': False, '...",[],Sortiment
6,"Ackermann, Emilie",NaN,Emilie,Ackermann,NaN,München,x,NaN,NaN,NaN,1955-1956,1955.0,1956,w,NaN,NaN,"[{'idn': '116005769', 'datum_match': False, 'b...",[],Sortiment
7,"Ackermann, Paul",NaN,Paul,Ackermann,NaN,Stuttgart,NaN,x,"Verlagsgesellschaft W. Schlösser, Europ. Buchk...",05.06.1898-,1960-1965,1960.0,1965,m,05.06.1898,NaN,"[{'idn': '138348197', 'datum_match': False, 'b...",[],Verlag
8,"Ackermann, Walter",NaN,Walter,Ackermann,NaN,Konstanz,x,NaN,Ernst Ackermann,WA 01.07.1898-,1958-1968,1958.0,1968,m,01.07.1898,NaN,"[{'idn': '120961466', 'datum_match': False, 'b...",[],Sortiment
9,"Adam, Heinrich",NaN,Heinrich,Adam,NaN,Wolfenbüttel,x,NaN,NaN,NaN,1955-1958,1955.0,1958,m,NaN,NaN,"[{'idn': '115826084', 'datum_match': False, 'b...",[],Sortiment
10,"Adasch, Herta",NaN,Herta,Adasch,NaN,Oberkaufungen,x,NaN,NaN,13.12.1901-27.12.1968,1957-1969,1957.0,1969,w,13.12.1901,27.12.1968,[],[],Sortiment
11,"Adasch, Max",NaN,Max,Adasch,NaN,Oberkaufungen,x,NaN,NaN,NaN,1955-1957,1955.0,1957,m,NaN,NaN,[],[],Sortiment
12,"Adolff, Paul",NaN,Paul,Adolff,NaN,Calw,NaN,x,Oelschläger‘sche Buchdruckerei,16.09.1883-29.04.1962,1955-1962,1955.0,1962,m,16.09.1883,29.04.1962,[],[],Verlag
13,"Ahrenhold, Wilhelm",NaN,Wilhelm,Ahrenhold,NaN,Wolfenbüttel,x,NaN,NaN,04.08.1901-,1955-1965,1955.0,1965,m,04.08.1901,NaN,[],[],Sortiment
14,"Ahues, Grete",NaN,Grete,Ahues,NaN,Lingen,x,NaN,Buchhandlung Fritz Hanke,28.06.1911-,1960-1962,1960.0,1962,w,28.06.1911,NaN,[],[],Sortiment
15,"Albert, Eberhard",NaN,Eberhard,Albert,NaN,Freiburg,x,NaN,Annemarie Albert,EA 10.07.1904-30.05.1968,1955-1968,1955.0,1968,m,10.07.1904,30.05.1968,"[{'idn': '126992657', 'datum_match': False, 'b...",[],Sortiment
16,"Albert, Ursula",NaN,Ursula,Albert,NaN,Schopfheim,x,NaN,NaN,24.12.1900-,1955-1961,1955.0,1961,w,24.12.1900,NaN,"[{'idn': '1145783724', 'datum_match': False, '...",[],Sortiment
17,"Albrecht, Erna",NaN,Erna,Albrecht,NaN,Soltau,x,NaN,NaN,NaN,1955-1966,1955.0,1966,w,NaN,NaN,"[{'idn': '1050401786', 'datum_match': False, '...",[],Sortiment
18,"Alex, Ilse verh. Moog",NaN,Ilse verh. Moog,Alex,NaN,Kassel,x,NaN,"Fa. Ernst Kühn, Hans-Martin Beume",NaN,1955-1958,1955.0,1958,w,NaN,NaN,[],[],Sortiment
19,"Alt, Johannes",NaN,Johannes,Alt,NaN,Frankfurt a. M.,x,NaN,"Else Pfeifer-Alt, Jubiläumsschrift der Buchhan...",NaN,1968-1968,1968.0,1968,m,NaN,NaN,"[{'idn': '116292997', 'datum_match': False, 'b...",[],Sortiment
20,"Alle, Ernst",NaN,Ernst,Alle,NaN,Nagold,x,NaN,Adolf Fischer,NaN,1955-1960,1955.0,1960,m,NaN,NaN,[],[],Sortiment
21,"Alpers, Otto",NaN,Otto,Alpers,NaN,Radevormwald,NaN,x,Mnemoton-Verlag,08.04.1903-,1957-1963,1957.0,1963,m,08.04.1903,NaN,[],[],Verlag
22,"Altenburg, Gustav",NaN,Gustav,Altenburg,NaN,Hamburg,NaN,x,NaN,NaN,1955-1959,1955.0,1959,m,NaN,NaN,"[{'idn': '125898398', 'datum_match': False, 'b...",[],Verlag
23,"Altgott, Christel",NaN,Christel,Altgott,NaN,Rheydt,x,NaN,NaN,NaN,1955-1960,1955.0,1960,w,NaN,NaN,[],[],Sortiment
24,"Amann, Albert",NaN,Albert,Amann,NaN,München,NaN,x,NaN,NaN,1955-1959,1955.0,1959,m,NaN,NaN,"[{'idn': '1012797074', 'datum_match': False, '...",[],Verlag
25,"Ament, Wilhelm, Dr.",Dr.,Wilhelm,Ament,NaN,Bamberg,NaN,x,C.C. Buchners Verlag KG,NaN,1955-1956,1955.0,1956,m,NaN,NaN,"[{'idn': '116297972', 'datum_match': False, 'b...",[],Verlag
26,"Ammelburg, Gerd",NaN,Gerd,Ammelburg,NaN,Frankfurt a. M.,NaN,x,NaN,12.10.1915-,1955-1962,1955.0,1962,m,12.10.1915,NaN,[],[],Verlag
27,"Anders, Carl",NaN,Carl,Anders,NaN,Prüm,x,NaN,M. Jos. Goerger,NaN,1946-1960,1946.0,1960,m,NaN,NaN,"[{'idn': '132866099', 'datum_match': False, 'b...",[],Sortiment
28,"Anders, Hans",NaN,Hans,Anders,NaN,Hamburg,NaN,x,NaN,02.12.1887-30.01.1965,1955-1965,1955.0,1965,m,02.12.1887,30.01.1965,"[{'idn': '133284913', 'datum_match': False, 'b...",[],Verlag
29,"Andresen, Hans",NaN,Hans,Andresen,NaN,Ütersen,x,NaN,NaN,NaN,1955-1960,1955.0,1960,m,NaN,NaN,"[{'idn': '105518242X', 'datum_match': False, '...",[],Sortiment
30,"Andrews, Erich",NaN,Erich,Andrews,NaN,Berlin,,x,NaN,NaN,1955-1957,1955.0,1957,m,NaN,NaN,"[{'idn': '1073467678', 'datum_match': False, '...",[],Verlag
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2855,"Zickfeldt, Wilhelm, Dr.",Dr.,Wilhelm,Zickfeldt,NaN,Hannover,NaN,x,A.W. Zickfeldt Verlag; Nachfolge: Dr. Kurt Zic...,NaN,1955,1955.0,NaN,m,NaN,NaN,"[{'idn': '126938431', 'datum_match': False, 'b...",[],Verlag
2856,"Ziegan, Josef",NaN,Josef,Ziegan,NaN,Berlin,x,NaN,Josef Ziegan,14.08.1898-,1955-1965,1955.0,1965,m,14.08.1898,NaN,[],[],Sortiment
2857,"Zieger, Magnus",NaN,Magnus,Zieger,NaN,Braunschweig,x,NaN,Buchhandlung Neumeyer; Nachfolge: Marianne Zieger,07.12.1900-24.09.1965,1955-1965,1955.0,1965,m,07.12.1900,24.09.1965,"[{'idn': '116986654', 'datum_match': False, 'b...",[],Sortiment
2858,"Ziegler, Eugen",NaN,Eugen,Ziegler,NaN,Saarbrücken,x,NaN,Görres-Buchhandlung; Hermann Banmeister,01.03.1904-,1963,1963.0,NaN,m,01.03.1904,NaN,"[{'idn': '1012710602', 'datum_match': False, '...",[],Sortiment
2859,"Ziegler, Hildegard",NaN,Hildegard,Ziegler,NaN,Stuttgart,x,NaN,Buchhandlung der Evang. Gesellschaft; Nachfolg...,16.09.1907-,1955-1966,1955.0,1966,w,16.09.1907,NaN,"[{'idn': '129033456', 'datum_match': False, 'b...",[],Sortiment
2860,"Ziegler, Lothar",NaN,Lothar,Ziegler,NaN,Ulm,x,NaN,Münsterbuchhandlung,NaN,1955-1960,1955.0,1960,m,NaN,NaN,[],[],Sortiment
2861,"Ziegler, Siegfried, Dr.",Dr.,Siegfried,Ziegler,NaN,München,NaN,x,Dr. Siegfried Ziegler Verlag,NaN,1955-1958,1955.0,1958,m,NaN,NaN,"[{'idn': '107774739', 'datum_match': False, 'b...",[],Verlag
2862,"Zimmer, Egon Maria",NaN,Egon Maria,Zimmer,NaN,Berchtesgaden,NaN,x,Vier Falken Verlag,02.07.1910-,1955-1964,1955.0,1964,m,02.07.1910,NaN,"[{'idn': '118509497', 'datum_match': True, 'be...",[],Verlag
2863,"Zimmer, Johann Josef",NaN,Johann Josef,Zimmer,NaN,Trier,NaN,x,Johann Josef Zimmer Verlag,NaN,1955-1960,1955.0,1960,m,NaN,NaN,[],[],Verlag
2864,"Zimmer, Johannes",NaN,Johannes,Zimmer,NaN,Solingen,x,NaN,Buchhandlung Johannes Zimmer,02.11.1909-,1956,1956.0,NaN,m,02.11.1909,NaN,"[{'idn': '1119337437', 'datum_match': False, '...",[],Sortiment
2865,"Zimmer, Josef",NaN,Josef,Zimmer,NaN,Vogelsburg,x,NaN,Augustinus- Bücherstube; Nachfolge: Mathilde M...,NaN,1955-1960,1955.0,1960,m,NaN,NaN,"[{'idn': '1051217350', 'datum_match': False, '...",[],Sortiment
2866,"Zimmermann, Alfred",NaN,Alfred,Zimmermann,NaN,Geislingen,x,NaN,Buchhandlung Ehemann,27.03.1908-,1955-1965,1955.0,1965,m,27.03.1908,NaN,"[{'idn': '1073891054', 'datum_match': False, '...",[],Sortiment
2867,"Zimmermann, Bernhard",NaN,Bernhard,Zimmermann,NaN,Salzgitter,x,NaN,Buchhandlung Theodor Schulze,12.07.1912-,1955-1962,1955.0,1962,m,12.07.1912,NaN,"[{'idn': '1114316768', 'datum_match': False, '...",[],Sortiment
2868,"Zimmermann, Bodo",NaN,Bodo,Zimmermann,NaN,Bonn,NaN,x,Westunion-Offene Worte; Nachfolge: Ursula Zimm...,26.11.1886-16.04.1963,1955-1963,1955.0,1963,m,26.11.1886,16.04.1963,"[{'idn': '1026752167', 'datum_match': False, '...",[],Verlag
2869,"Zimmermann, Eugen",NaN,Eugen,Zimmermann,NaN,Nürtingen,x,NaN,G. Zimmermann; Nachfolge: Dr. Horst Zimmermann,25.07.1901-,1955-1968,1955.0,1968,m,25.07.1901,NaN,"[{'idn': '127331409', 'datum_match': False, 'b...",[],Sortiment
2870,"Zimmermann, Franz",NaN,Franz,Zimmermann,NaN,Hamburg,x,NaN,Franz Zimmermann,NaN,1955-1956,1955.0,1956,m,NaN,NaN,"[{'idn': '170309517', 'datum_match': False, 'b...",[],Sortiment
2871,"Zimmermann, Inge",NaN,Inge,Zimmermann,NaN,Berlin,x,NaN,Buchhandlung Betty Günther,NaN,1955-1960,1955.0,1960,w,NaN,NaN,"[{'idn': '174203519', 'datum_match': False, 'b...",[],Sortiment
2872,"Zimmermann-Petri, Herta",NaN,Herta,Zimmermann-Petri,NaN,Waldshut,x,NaN,H. Zimmermann K.G.,17.08.1893-26.05.1961,1955-1963,1955.0,1963,w,17.08.1893,26.05.1961,[],[],Sortiment
2873,"Zink, Karl u. Maria",NaN,Karl u. Maria,Zink,Maria,München,x,x,Karl Zink,Karl: verstorben am 22.03.1961; Maria: 17.08.1...,1955-1964,1955.0,1964,m,17.08.1904,17.11.1968,[],[],Sortiment
2874,"Zinnow, Kurt",NaN,Kurt,Zinnow,NaN,Berlin,x,NaN,Kurt Zinnow,30.10.1904-,1955-1962,1955.0,1962,m,30.10.1904,NaN,[],[],Sortiment
2875,"Zitzer, Paul",NaN,Paul,Zitzer,NaN,Alsfeld,x,NaN,Wilh. Zitzer,gestorben am 17.12.1960,1955-1960,1955.0,1960,m,NaN,NaN,[],[],Sortiment
2876,"Zitzmann, Rudolf",NaN,Rudolf,Zitzmann,NaN,Lauf,NaN,x,Rudolf Zitzmann Verlag,02.08.1898-,1961-1963,1961.0,1963,m,02.08.1898,NaN,"[{'idn': '1073895327', 'datum_match': False, '...",[],Verlag
2877,"Zöllner, Erich",NaN,Erich,Zöllner,NaN,Kassel,x,NaN,M u. E. Zöllner,28.06.1909-,1961-1966,1961.0,1966,m,28.06.1909,NaN,"[{'idn': '1152025422', 'datum_match': False, '...",[],Sortiment
2878,"Zoller, Oskar",NaN,Oskar,Zoller,NaN,Berlin,x,NaN,Oskar Zoller,NaN,1955-1958,1955.0,1958,m,NaN,NaN,"[{'idn': '138526613', 'datum_match': False, 'b...",[],Sortiment
2879,"Zsolnay, Paul von",NaN,Paul von,Zsolnay,von,Hamburg,NaN,x,Paul Zsolnay Verlag; Nachfolge: Kurt Kiegenbri...,gestorben am 13.05.1961,1955-1961,1955.0,1961,m,NaN,NaN,"[{'idn': '117019526', 'datum_match': False, 'b...",[],Verlag
2880,"Zufall, Gerda",NaN,Gerda,Zufall,NaN,Kassel,x,NaN,Buchhandlung Freyschmidt; Nachfolge: Dr. Hans ...,gestorben am 02.06.1963,1955-1963,1955.0,1963,w,NaN,NaN,[],[],Sortiment
2881,"Zulauf, Hugo",NaN,Hugo,Zulauf,NaN,Mainz,NaN,x,Grünewald Verlag,23.06.1912-,1958-1965,1958.0,1965,m,23.06.1912,NaN,[],[],Verlag
2882,"Zumstein, Anton",NaN,Anton,Zumstein,NaN,München,zwibu,NaN,Zumsteins Landkartenhaus; Nachfolge: Max Zumstein,18.06.1875-,1955-1965,1955.0,1965,m,18.06.1875,NaN,[],[],Zwischenbuchhandel
2883,"Zutavern, Walter",NaN,Walter,Zutavern,NaN,Pforzheim,x,NaN,W. Zutavern,04.02.1903-,1955-1965,1955.0,1965,m,04.02.1903,NaN,[],[],Sortiment
2884,"Zuther, Friedrich",NaN,Friedrich,Zuther,NaN,Berlin,x,NaN,Friedrich Zuther,NaN,1955-1959,1955.0,1959,m,NaN,NaN,"[{'idn': '1158403836', 'datum_match': False, '...",[],Sortiment

In [11]:
df.to_csv('HABV_91_1_extended_neu_gender_lebensdaten_matches_idns_firmenart.csv', sep=';')